[Desktop Entry]
#Remove This file seems to be an executable : Fichiers Edit/Preferences/General "Don't ask options on launch executable files"
Name=Robot Control
Exec=/home/didier/deploy/scripts/run.sh
Icon=/home/didier/deploy/conf/rpi/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;