[Desktop Entry]
Name=Robot Control
Exec=/home/didier/deploy/scripts/run-pi.sh
Icon=/home/didier/deploy/scripts/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;